<!DOCTYPE HTML>
<html>
    <head>
        <title></title>
        <meta nama="viewport" content="device-width,initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="./sample.css">
    </head>
    <body class="body">
        <div class="header">
            <img src="./Screenshot%20from%202015-08-23%2012:13:19.png">
        </div>
        <div class="navbar">
      
            <ul>
                <li><a href="">home</a></li>
                <li><a href="">about</a></li>
                <li><a href="">portfilo</a></li>
                <li><a href="">contact</a></li>
            </ul>
          
       
        </div>
        <div class="row main">
            <div class="col-7 ">
                <div class="main-top"><h1>First post</h1>
            <p> The @media rule makes it possible to define different style rules for different media types
in the same stylesheet.
The style in this example tells the browser to display a 17 pixels Verdana font on the
screen. But if the page is printed, it will be in a blue 14 pixels Georgia font.
Test it! Print this page (or open Print Preview), and you will see that the text will be
displayed in blue, and in another smaller font.</p></div>
            
        <div class="main-down">
            <h1>First post</h1>
             <p> The @media rule makes it possible to define different style rules for different media types
in the same stylesheet.
The style in this example tells the browser to display a 17 pixels Verdana font on the
screen. But if the page is printed, it will be in a blue 14 pixels Georgia font.
Test it! Print this page (or open Print Preview), and you will see that the text will be
displayed in blue, and in another smaller font.</p></div></div>
            <div class="col-5">
                <div class="sidebar-top">
             <p> The @media rule makes it possible to define different style rules for different media types
in the same stylesheet.
The style in this example tells the browser to display a 17 pixels Verdana font on the
screen. But if the page is printed, it will be in a blue 14 pixels Georgia font.
Test it! Print this page (or open Print Preview), and you will see that the text will be
displayed in blue, and in another smaller font.</p>
                    </div>
             <div class="sidebar-middle"><p> The @media rule makes it possible to define different style rules for different media types
in the same stylesheet.
The style in this example tells the browser to display a 17 pixels Verdana font on the
screen. But if the page is printed, it will be in a blue 14 pixels Georgia font.
Test it! Print this page (or open Print Preview), and you will see that the text will be
displayed in blue, and in another smaller font.</p></div>
            <div class="sidebar-bottom"><p> The @media rule makes it possible to define different style rules for different media types
in the same stylesheet.
The style in this example tells the browser to display a 17 pixels Verdana font on the
screen. But if the page is printed, it will be in a blue 14 pixels Georgia font.
Test it! Print this page (or open Print Preview), and you will see that the text will be
displayed in blue, and in another smaller font.</p></div></div>
        </div>
        <div class="col-12 footer">
        <footer>Copyright &copy; 2013</footer>
        </div>
    </body>
</html>